<%= form_with(model: specialist) do |f| %>
  <% if specialist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(specialist.errors.count, "error") %> prohibited this specialist from being saved:</h2>

      <ul>
        <% specialist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="my-4">
      <%= f.label :name, class:"block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :name, autofocus: true, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

     <div>
      <%= f.label :phone, class:"block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :phone, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div>
      <%= f.label :email, class:"block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="my-4">
      <%= f.label :specialist_type, class:"block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.select :specialist_type, Problem.problem_types.keys, class:"w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="my-4">
      <%= f.label :specialist_sub_type, class:"block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.select :specialist_sub_type, Problem.problem_sub_types.keys, class:"w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="md:flex md:items-center">
      <div class="md:w-2/3">
        <%= f.submit "Submit", class:"shadow bg-gray-900 hover:bg-gray-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>

