<tbody class="divide-y divide-gray-200">
  <tr>
    <td class="whitespace-nowrap underline py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= link_to equipment.serial_number, equipment %></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= equipment.make %></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= equipment.model %></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= equipment.operating_system %></td>
    <% if current_account.admin? %>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
      <%= link_to "Edit", edit_equipment_path(equipment), class:"text-indigo-600 hover:text-indigo-900" %><span class="sr-only"><%= equipment.serial_number%></span>
    </td>
    <% end %>
  </tr>
</tbody>
