<tbody class="divide-y divide-gray-200">
  <tr>
    <td class="whitespace-nowrap underline py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= link_to software_product.name, software_product %></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium <%= software_product_status_colour(software_product) %> capitalize ring-1 ring-inset ring-gray-500/10"><%= software_product.status %></span></td>    
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= software_product.licence_number %></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= software_product.licence_exp_date %></td>
    <% if current_account.admin? %>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
      <%= link_to "Edit", edit_software_product_path(software_product), class:"text-indigo-600 hover:text-indigo-900" %><span class="sr-only"><%= software_product.id %></span>
    </td>
    <% end %>
  </tr>
</tbody>
